* {
  box-sizing: border-box;
}

html {
  font-family: $font-header;
  font-size: 14px;
  line-height: 1.5em;
}

body {
  width: 100%;
  max-width: $xl;
  background-image: url(../img/global-bg.jpg);
  background-attachment: fixed;
  background-position: top;
  margin: 0 auto;

  @include lg-min {
    padding: 0 $gap;
  }

  @include lg {
    padding: 0 $gap/2;
  }
}

h3 {
  color: $color-light;
}

a {
  text-decoration: none;
  color: $color-light;
  font-family: $font-main;
}

a:hover,
a:focus {
  color: $color-accent;
}

ul {
 list-style: none;
 
}

.fa {
  color: white;
  font-size: 0.5rem;
  padding: 5px;
}

.container {
display: flex;

@include lg{
  flex-wrap: wrap;
}
}

.img-respons {
  display: block;
  max-width: 100%;
  height: auto;
}
main {
  display: block;
}

// .fa-search {
//   color: $color-dark;
//   // font-size: 1rem;
// }