.widget {
  &-search {
    form {
      position: relative;
      margin: $gap/2 0 7px;
    }

    &__input {
      width: 100%;
      text-overflow: ellipsis;

      font-size: 0.85rem;
      color: $color-gray;
      background: rgba($color-light, $alpha: 0.1);
      padding: 7px 8px 7px 40px;
      border: 1px solid rgba($color-gray, 0.1);
      border-radius: 4px;

      &:focus {
        color: $color-light;
        background: rgba($color-light, 0.2);
        outline: none;
        border-radius: 1px solid rgba($color-light, 0.3);
      }

      // &::-webkit-input-placeholder {
      //   color: #cccccc;
      // }
    }

    &__btn {
      position: absolute;
      left: 1px;
      bottom: 1px;
      top: 1px;
      padding: 5px 7px;
      color: $color-gray;
      background: transparent;
      border: none;
      border-right: 1px solid rgba($color-light, 0.1);
    }
  }
}
