.widget {
    background: rgba($color-dark, 0.5);
    padding: $gap/2;
    border-radius: 7px;
    margin: 0 0 $gap/2;
    color: $color-light;
    h3 {
        font-family: $font-header;
        letter-spacing: 1.5px;
        font-weight: 100;
        padding-bottom: $gap/3;
  
        border-bottom: 1px solid rgba($color-dark, 0.3);
        margin-top: $gap/6;
      }
}