.aside {
  &-left {
    flex-grow: 1;

    @include md-min {
      flex: 0 0 220px;
      margin-bottom: 15px;
      order: 1;
    }

    @include lg-md {
      width: 100%;
    }
    @include md-xs {
      width: 50%;
      padding-right: $gap/4;
      order: 2;
    }

    @include xs {
      width: 100%;
      margin-bottom: 0;
      order: 2;
    }
  }
}
