.aside {
  // background-color: rgb(12, 12, 11);
  // color: aliceblue;

  &-right {
    order: 3;
    flex-grow: 2;

    @include lg-min {
      flex: 0 0 240px;
    }

    @include lg-md {
      width: 100%;
    }

    @include md-xs {
      width: 50%;
      padding-left: $gap/4;
      // margin-left: $gap;
    }
  }
}
